-@title = 'Resend confirmation instructions'
= bootstrap_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form form-horizontal' }) do |f|
  = f.email_field :email, :autofocus => true
  .controls= f.submit "Resend confirmation instructions"
= render "users/shared/links"
