.thumbnail.span1
  = link_to image_tag(activity.owner.image.url(:thumb)), cooperative.person_path(activity.owner)
.span5
  %i.icon-remove
    &nbsp;
  = link_to activity.owner.nickname, cooperative.person_path(activity.owner)
  deleted a page