-widget do
  %ul.nav.nav-list
    =nav_item :compose.l, cooperative.new_message_path
    %li.divider
    =nav_item :inbox.l, cooperative.messages_path
    =nav_item :sent_messages.l, cooperative.sent_messages_path
    =nav_item :trash.l, cooperative.trash_messages_path