- if activity.trackable
  %div{:id => 'status_' + activity.trackable.id.to_s}
    .thumbnail.span1
      = link_to image_tag(activity.owner.image.url(:thumb)), cooperative.person_path(activity.owner)
    .span5
      %i.icon-check
        &nbsp;
      = link_to activity.owner.nickname, cooperative.person_path(activity.owner)
      = activity.trackable.body
      - if activity.owner == current_user
        = link_to '<i class="icon-remove"></i>'.html_safe, activity.trackable, :method => :delete, :remote => true, :class => 'pull-right', :format => :js