.comment.row{:id => 'comment_' + comment.id.to_s}
  .span1
    = thumbnail link_to image_tag(comment.user.image(:thumb)), cooperative.person_path(comment.user.nickname)
  .span4
    = actionable_descriptor comment, 'comment'
    %p= tokenize comment.body
    - if can? 'destroy', comment
      = link_to icon('trash'), cooperative.comment_path(comment), :method => :delete, :remote => true, :class => 'pull-right', :format => :js, :data => {:confirm => :are_you_sure.l}