-if user_signed_in? and current_user.id == @person.id
  -widget do
    %h3= :tools.l
    %ul.nav.nav-list
      =nav_item '<i class="icon-file"></i>'.html_safe + :new_page.l, cooperative.new_person_page_path(@person), :class => 'btn btn-primary'
-else
  -widget do
    %h3= :about_nickname.l :nickname => @person.nickname
    %p= truncate strip_tags(@person.bio), :length => 255, :separator => ' '
    %p= link_to 'Read More...', cooperative.person_path(@person)

-unless @person.pages.empty?
  =render 'pages/submenu_for_person', :user => @person
