= bootstrap_form_for @status, :url => cooperative.statuses_path, :format => :js, :remote => true do |f|
  = f.text_area :body, :rows => 3, :cols => 60, :label => false
  .control-group
    = f.submit :set_status.l