<% if(!@status.new_record? and !@status.activity.nil?) %>
    $('#activities').prepend('<%= escape_javascript(render :partial => 'activities/activity', :locals => {:activity => @status.activity}) %>');
    $('.status_people').html('');
	$('.status_grab').html('<div class="spinner"></div>');
	$('.status_grab_group').hide();
	$('.spinner').spin('small');
    $('.status_body, .status_title, .status_description, .status_image_remote_url, .status_media_url, .status_media_type').val('');
<% else %>
    $('#messages').prepend('<%= escape_javascript(alert('alert-error', :an_unknown_error_occurred.l)) %>');
    $('.alert').hide().toggle('highlight');
<% end %>
