#status.accordion
  .accordion-group
    .accordion-heading
      %a.btn.btn-success.accordion-toggle{:data => {:toggle => 'collapse', :parent => '#status'}, :href => '#statusCollapse'}
        = :whats_up_doc.l
    #statusCollapse.accordion-body.collapse
      .accordion-inner
        = render 'statuses/form'

#notifications
- @activities.each do |activity|
  .activity.clearfix
    - unless activity.owner.nil?
      = render_activity activity