- add_footer_javascript do
  :javascript
    $('#{selector}').tokenizer({
      source: '#{source}',
      token: '@',
      callback: 'follows_append_mention',
      elementFactory: follows_elementFactory
    });