- unless person == current_user
  - if current_user.following?(person)
    = link_to icon('remove') + :unfollow.l, cooperative.person_follows_path(person.to_param, current_user.get_follow(person).id), :method => :delete, :remote => true, :class => 'btn btn-danger'
  - else 
    = link_to icon('asterisk') + :follow.l, cooperative.person_follows_path(person.to_param), :remote => true, :method => :post, :class => 'btn btn-success'