

ul.nav-tabs {
  margin: 0;
}

.tab-content {
  color: $text-color;
  background-color: $body-bg;
  border: 1px solid #ddd;
  border-top-color: transparent;
  padding: 18px;
  margin-bottom: 18px;
}

.tabs-left {

  .nav-tabs {
    margin-right: 0;

    li {
      position: relative;
    }
  }

  .tab-content {
    border: 1px solid #ddd;
    border-left-color: transparent;
    height: 100%;
  }
}
