- if active
  - css_class = 'active'
- else 
  - css_class = 'inactive'
%li{:class => 'dropdown ' + css_class}
  %a.dropdown-toggle{:href=>href, :data => {:target => '#', :toggle => 'dropdown'}}
    =text
    %b.caret
  %ul.dropdown-menu
    =body