-# .btn-navbar is used as the toggle for when the responsive design gets narrow and the navbar goes away
%a.btn.btn-navbar{'data-target'=>".nav-collapse", 'data-toggle'=>"collapse"}
  .icon-bar
  .icon-bar
  .icon-bar
= link_to Cooperative.configuration.application_name, cooperative_path, :class => 'brand'
.nav-collapse
  %ul.nav
    = render 'people/menu_item'
  %ul.nav.pull-right
    = render 'messages/menu_item'
    = render 'users/menu_item'
